@import 'bootstrap/bootstrap.scss';

/* Varibles */
:root {
    --texto: 'Montserrat', sans-serif;
    --color-fondo: #F4F2F0;
    --color-texto: #373234;
    --color-background-icon: rgba(244, 242, 240, 0.13);
    --color-naranja: #FA5F1A;
    --color-cafe: #806D61; 
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
    width: 100%;
    font-family: var(--texto);
    background: var(--color-fondo);
    color: var(--color-texto);
}

#my-coffe {
    font-size: 20px;
    font-weight: 500;
}


/* NavBar */
#icon {
    width: 40px;
    margin: 0;
}


#nav {
    margin-top: 5vh;
    height: 90vh;
    margin-left: 10px;
    background-color: #373234;
    border-radius: 20px;
    position: fixed;
    z-index: 99;
}

#nav img {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

#nav img:hover {
    background-color: var(--color-background-icon);
}

#cafes, #titulo {
    text-align: center;
    padding: 20px;
    font-weight: 600;
    font-size: 50px;
}

ul {
    padding: 0;
    margin-top: 35vh;
    margin-bottom: 35.5vh;
}

li {
    list-style: none;
}

.buscador {
    text-align: center;
}

.buscador form {
    display: grid;
    width: 20%;
}

div.buscador form {
    margin: 0 auto;
    justify-content: center;
}


input#inputBuscador, #inputBuscador input:focus, #inputBuscador select:focus, #inputBuscador select {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    background: #F4F2F0;
box-shadow: inset 7px 7px 14px #e5e3e2,
            inset -7px -7px 14px #fffffe;
    padding: 5px;
    border-radius: 10px;
}

.btn.btn-primary {
    background: var(--color-naranja) ;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.btn.btn-primary:hover {
    opacity: 60%;
}

.btn.btn-primary:active {
    opacity: 100%;
    background: var(--color-naranja) ;
}


/* Main */

main {
    height: 100vh;
}

/* Productos */

#productos {
    margin-inline: 10%;
}

div#card.row {
    margin-top: -190px;
    justify-content: center;
    gap: 120px;
    padding: 20px;
}

#productos h5.card-title{
    font-weight: 600;
}

#productos p.card-text {
    font-size: 15px;
    color: var(--color-naranja);
    font-weight: 600;
    margin-bottom: 30px;
} 

#productos a.btn.btn-primary {
    background: var(--color-cafe);
}

h2#cafes {
   padding: 50px 20px 40px 20px;
}

#productos #estrella {
    margin-top: -18px;
}

div#estrellas {
    display: flex;
}

article.col-lg-4.col-md-4 {
    width: 200px;
}


/* Section Inicio*/

#titulo {
    margin-top: 10vh;
    margin-left: 380px;
    font-size: 80px;
}

span {
    color: var(--color-cafe);
}

#inicio {
    height: 100vh;
    padding: 10%;
}

#inicio div {
    display: flex;
    gap: 30px;
}

#inicio div {
    margin: 20px;
}

#inicio img {
    width: 50%;
}

#inicio h2 {
    font-size: 20px;
    font-weight: 400;
}

/* Footer */

footer {
    align-items: center;
    margin: 0 auto;
    width: 70%;
    padding: 30px;
    background: linear-gradient(145deg, #ffffff, #dcdad8);
    box-shadow:  8px 8px 6px #cbc9c7,
                 -8px -8px 6px #ffffff;
}

footer#footer {
    color: var(--color-texto);
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    margin-bottom: 10px;
}

footer#footer h5 {
    margin: 0;
    text-align: center;
}


/*   Modal   */

header {

    .perfil-modal {
        width: 250px;
        margin-top: 63vh;
        margin-left: 8vh;

        .perfil-usuarios {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li {
            display: flex;

            img {
                margin: 5px 0;
                margin-right: 3px;
            }
    
            a {
                text-decoration: none;
                display: block;
                padding: 10px 0;
                color: var(--color-naranja);
            }

            a:hover {
                font-weight: 600;
            }
        }
    }
}




/*  Responsive */

@media (max-width: 992px){

    #inicio div {
        display: block;
    }

   h1#titulo {
        margin: 0 auto;
    }

    #inicio img {
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
    }

    #inicio h2 {
        margin-top: 40px;
        margin-left: 55px;
    }

    div#card.row {
        margin-left: 50px;
    }

}



@media (max-width: 1500px) {
    footer {
        margin-top: 400px;
    }
}


@media (max-width: 762px) {
    footer {
        margin-top: 1300px;
    }
}
